<header>
  <link rel="stylesheet" href="styles/style.css">
  <h1><a href="/"> R, P, S: Showdown</a></h1>
  <img src="../images/Bowser.png" alt="Bowser" width="170" height="170"align="left">
        <img src="../images/RPS.png" alt="RPS" width="170" height="70"align="right">
  <div style = text-align:center>
    <div id = "Header_Buttons">
       <button onclick="location.href='/rules'" class="header_button">
     View Rules</button>


       <button onclick="location.href='/stats'" class="header_button">
     View Stats</button>

     <button onclick="location.href='/about'" class="header_button">
   More About R, P, S: Showdown </button>
     </div>
  <div style = text-align:center>
<form action="/" method="get">
  <input type="submit" name="Logout" value="Log Out!" align = "middle" class = "header_button">
  </form>
    <!--- Need to attach JS, where like based on user name and log out change this -->
</header>
