<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - About</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>

<body>
  <% include global/header %>

  <div id="rules">
    <h2>About Paper, Rock, Scissors: Showdown</h2>
    This web app was created by Varun Khanna and Katherine Vella. It uses an Express server, and is hosted on Heroku. It is meant to be a fun game for all.
    It was completed for a Software Engineering class at the Trinity School. We hope you enjoy!
    <br>
    All villain images downloaded with permission from <a href="https://thenounproject.com/">The Noun Project.</a>
    <h2>Image Credits: </h2>
    <ul>
      <li>Bones: <a href="https://thenounproject.com/bartlaubsch/">Bart Laubsch</a> </li>
      <li>Comic Hans: <a href="https://thenounproject.com/josieschultzz/collection/things-i-drew/">Josie Schultzz</a></li>
      <li>Gato: <a href="https://thenounproject.com/strokeicon/collection/gesture/">Strokeicon</a></li>
      <li>Harry: <a href="https://thenounproject.com/danny_mustache/">Dan Lowenstein</a> </li>
      <li>Manny: <a href="https://thenounproject.com/AliceNoir/collection/manicure/">Alice Noir</a> </li>
      <li>Mickey: <a href="https://thenounproject.com/cristiano.zoucas/">Cristiano Zoucas</a>
      <li>Mr. Modern: <a href="https://thenounproject.com/swierq/">Maciej Świerczek</a></li>
      <li>Pixie: <a href="https://thenounproject.com/filippolessio/">Filippo Lessio</a> </li>
      <li>Ref: <a href="https://thenounproject.com/korawan_m/">BomSymbols</a></li>
      <li>Regal: <a href="https://thenounproject.com/lefthandedgraphic/collection/king-hand/">LeftHandedGraphic</a></li>
      <li>Spock: <a href="https://thenounproject.com/ARF!/collection/some-handsome-hands/">Rafaël Massé</a></li>
      <li>The Boss: <a href="https://thenounproject.com/daouna/">Daouna Jeong</a> </li>
      <li>The Magician: <a href="https://thenounproject.com/swierq/">Maciej Świerczek</a> </li>
    </ul>
    <form action="/playagain" method="Get" align= center>
       <input type="submit" name="Play Again" class = "header_button" value="Play Again!">
    </form>
  </div>
  <% include global/footer %>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
