<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Game</title>
  <link rel="stylesheet" href="styles/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <style>

  </style>
 </head>

<body>
 <%include global/header %>
 <div id="feedback">

   </div>

  <div id="throw_choice">


      <h2 id="hurry">Play the Game</h2>
      <h3>Welcome <%=user.name%> are you ready to take on the challenge?! Go ahead, select your opponent and your move! </h3>
      <img id="referee" src="" height=250; width=250; style = "position: relative; float: right; padding-top:5%">
      <form action="<%=user.name%>/results" method="get">
        <input list="villains" id="villains2" name="villains">
          <datalist id="villains">
            <option value ="Bones">
            <option value ="Gato">
            <option value ="Manny">
            <option value ="Mr Modern">
            <option value ="Regal">
            <option value ="The Boss">
            <option value ="Comic Hans">
            <option value ="Harry">
            <option value ="Mickey">
            <option value ="Pixie">
            <option value ="Spock">
            <option value ="The Magician">
          </datalist>
        <br> <br>
          <input list="weapons" name="weapons">
            <datalist id="weapons">
              <option value="Rock">
              <option value="Paper">
              <option value= "Scissors">
            </datalist>
        <br> <br>
          <input type="submit" id="submit" name="Play Game!" value="Play This Move!" class="header_button">
        </form>

        <script src="scripts/scripts.js"></script>
        <script>
          villains.addEventListener("input", function(){
            var k = document.getElementById("villains").value
            var c = k.replace(' ', '_');
            document.getElementById("villain_image").src = "images/" + c + "_waiting.svg";

          });

          villains2.addEventListener("input", function(){
            var k = document.getElementById("villains2").value
            var c = k.toLowerCase().replace(' ', '_');
            document.getElementById("villain_image").src = "images/" + c + "_waiting.svg";
          });
          </script>
        <img id="villain_image" src="images/Bones_waiting.svg" height=225; width=225; align= "middle">
        <img id="referee" src="">
        <script src="scripts/scripts.js"></script>
    </div>
<% include global/footer %>
 </body>
</html>
